<div class="banner">
    <img src="assets/img/sri-lanka-banner.jpg" alt="Sri Lanka Banner">
    <div class="banner-overlay">
      <div class="banner-text">
        Sri Lanka
      </div>
    </div>
  </div>
  
  <div class="contact-container">
    <section class="contact-info">
      <h2 class="office-heading">Colombo Office</h2>
      <div class="info-item">
        <span class="material-icons">phone</span>
        <p>+94 78 7777777</p>
      </div>
      <div class="info-item">
        <span class="material-icons">location_on</span>
        <p>World Trade Center, No 1, Level 06, ELB, Colombo 1, Sri Lanka.</p>
      </div>
      <div class="info-item">
        <span class="material-icons">email</span>
        <p><a href="mailto:info@gajadeera.com">info&#64;gajadeera.com</a></p>
      </div>
    </section>
  </div>
  
  <div class="banner">
    <img src="assets/img/foshan-banner.jpg" alt="Foshan Banner">
    <div class="banner-overlay">
      <div class="banner-text">
        China
      </div>
    </div>
  </div>
  
  <div class="contact-container">
    <section class="contact-info">
      <h2 class="office-heading">Foshan Office</h2>
      <div class="info-item">
        <span class="material-icons">phone</span>
        <p>+86 185 6602 6922</p>
      </div>
      <div class="info-item">
        <span class="material-icons">location_on</span>
        <p>Room 1033, GF Commerce Mall, 4th South Road, Guicheng, Nanhai, Foshan, China.</p>
      </div>
      <div class="info-item">
        <span class="material-icons">email</span>
        <p><a href="mailto:info@gajadeera.com">info&#64;gajadeera.com</a></p>
      </div>
    </section>
  </div>
  