<div class="banner">
    <img src="assets/img/projects-banner.jpg" alt="Projects Banner">
    <div class="banner-overlay">
      <div class="banner-text">
        Our Projects
      </div>
    </div>
  </div>
  
  <div class="projects-container">
    <h1 class="section-heading">Featured Projects</h1>
    <div class="projects-grid">
      <div *ngFor="let project of projects" class="project-card">
        <img [src]="'assets/img/' + project.image" alt="{{ project.name }}" class="project-image">
        <div class="project-info">
          <h3>{{ project.name }}</h3>
        </div>
      </div>
    </div>
  </div>
  